.jumbotron {
  color: black;
  margin-bottom: 50px;
  margin-top: 0px;
  background-color: #de0f2b;
}
footer {
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  margin-top: 0px;
  background-color: #DDF60D;
}
.card-hotel {
  flex: 1 200px;
  margin-bottom: 10px;
  margin-top: 2px;
  background-color: #5EF60D;
}
.btn-reversa {
  width: 100%;
  border-radius: 0px;
}
.footer-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
  background-color: #5EF60D;
}
